body {
  margin: 0;
  background: black;
  font-family: Arial, sans-serif;
  overflow: hidden;
  color: cyan;
  text-align: center;
}

/* SCREENS */
#menu, #select, #win {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
}

#select, #win {
  display: none;
}

/* NEON LINES */
.line {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
}

.line.blue {
  left: 40px;
  background: cyan;
  box-shadow: 0 0 20px cyan;
}

.line.orange {
  right: 40px;
  background: orange;
  box-shadow: 0 0 20px orange;
}

/* TITLE */
.title {
  font-size: 80px;
  text-shadow: 0 0 30px cyan;
  margin-bottom: 40px;
}

/* BUTTONS */
.btn {
  width: 220px;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  background: black;
  border: 2px solid cyan;
  color: cyan;
  cursor: pointer;
}

.btn:hover {
  background: cyan;
  color: black;
}

/* CANVAS */
canvas {
  display: none;
  margin: auto;
  border: 2px solid cyan;
}

/* WIN */
#winnerText {
  font-size: 60px;
  text-shadow: 0 0 25px cyan;
}
#winnerText + .btn {
  margin-top: 20px;
}
